<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN"
    "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:skos="http://www.w3.org/2004/02/skos/core#"
   xmlns:wgs84="http://www.w3.org/2003/01/geo/wgs84_pos#"
   xmlns:dcterms="http://purl.org/dc/terms/" xml:lang="en-us">
  <head profile="http://www.w3.org/2003/g/data-view">
  <link 
      rel="transformation" 
      href="http://ns.inria.fr/grddl/rdfa/2008/03/28/RDFa2RDFXML.xsl" />

  <link 
      rel="alternate" 
      type="application/rdf+xml" 
      href="<%= "#{Merb::config[:platform]["resource_base_uri"]}#{params[:id]}" %>.rdf" />

  <link 
      rel="alternate" 
      type="text/n3" 
      href="<%= "#{Merb::config[:platform]["resource_base_uri"]}#{params[:id]}" %>.n3" />

  <link 
      rel="alternate" 
      type="application/json" 
      href="<%= "#{Merb::config[:platform]["resource_base_uri"]}#{params[:id]}" %>.json" />

    <title>LCSubjects.org:  <%= @title %></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" charset="utf-8" />
    <% if @authority && @authority.latitude && @authority.longitude %>
      <!-- bring in the OpenLayers javascript library
           (here we bring it from the remote site, but you could
           easily serve up this javascript yourself) -->
      <script src="http://www.openlayers.org/api/OpenLayers.js"></script>

      <!-- bring in the OpenStreetMap OpenLayers layers.
           Using this hosted file will make sure we are kept up
           to date with any necessary changes -->
      <script src="http://www.openstreetmap.org/openlayers/OpenStreetMap.js"></script>

      <script type="text/javascript">
          // Start position for the map (hardcoded here for simplicity,
          // but maybe you want to get from URL params)
          // (Though to get it from the URL it's simpler to use the Permalink and ArgParser controls)
          var lat=<%= @authority.latitude -%>;
          var lon=<%= @authority.longitude -%>;
          var zoom=4;

          var map; //complex object of type OpenLayers.Map

          //Initialise the 'map' object
          function init() {

              map = new OpenLayers.Map ("map", {
                  controls:[
                      new OpenLayers.Control.Navigation(),
                      new OpenLayers.Control.PanZoomBar(),
                      new OpenLayers.Control.Attribution()],
                  maxExtent: new OpenLayers.Bounds(-20037508.34,-20037508.34,20037508.34,20037508.34),
                  maxResolution: 156543.0399,
                  numZoomLevels: 19,
                  units: 'm',
                  projection: new OpenLayers.Projection("EPSG:900913"),
                  displayProjection: new OpenLayers.Projection("EPSG:4326")
              } );

              // Define the map layer
              // Note that we use a predefined layer that will be
              // kept up to date with URL changes
              // Here we define just one layer, but providing a choice
              // of several layers is also quite simple
              // Other defined layers are OpenLayers.Layer.OSM.Mapnik, OpenLayers.Layer.OSM.Maplint and OpenLayers.Layer.OSM.CycleMap
              layerTilesAtHome = new OpenLayers.Layer.OSM.Osmarender("Osmarender");
              map.addLayer(layerTilesAtHome);

              if( ! map.getCenter() ){
                  var lonLat = new OpenLayers.LonLat(lon, lat).transform(new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject());
                  map.setCenter (lonLat, zoom);
              }

            	layerMarkers = new OpenLayers.Layer.Markers("Markers");
        			map.addLayer(layerMarkers);

        			var size = new OpenLayers.Size(21,25);
        			var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);
        			var icon = new OpenLayers.Icon('http://www.openstreetmap.org/openlayers/img/marker.png',size,offset);
        			layerMarkers.addMarker(new OpenLayers.Marker(lonLat,icon));
              
          }

      </script>
    <% end %>
  </head>
  <body onload="init();">
  <%= link_to 'Home', '/' %> |   <%= link_to 'Search', url(:search) %> |   <%= link_to 'SPARQL', 'http://api.talis.com/stores/lcsh-info/services/sparql' %> |
  <% unless session.user %>
    <a href="/openid/login?location=<%= "#{request.env['REQUEST_URI']}" %>">Login</a></span></li>
  <% else %>
    Logged in as <%= session.user.identity_url %>  [<a href="/openid/signout?location=<%= "#{request.env['REQUEST_URI']}" %>">Logout</a>]
  <% end %>
    <%#= message[:notice] %>
    <%= catch_content :for_layout %>

  </body>
</html>