<h1 style="text-align: center">Library of Congress Subject Headings</h1>

<div class="search">
    <form action="/search" method="get">
        <div style="text-align: center">
            <input type="text" name="q" value="<%= params['q'] %>" />
            <input type="submit" value="Search" />

        </div>
        
        
        <% if @results %>
          <div><%= @results["http://a9.com/-/spec/opensearch/1.1/totalResults"] %> matches to your search</div>
          <ol start="<%= (@results["http://a9.com/-/spec/opensearch/1.1/startIndex"].to_i + 1) %>">
          <%
          if @results["http://purl.org/rss/1.0/items"] && @results["http://purl.org/rss/1.0/items"].rdf && @results["http://purl.org/rss/1.0/items"].rdf["li"]
            [*@results["http://purl.org/rss/1.0/items"].rdf["li"]].each do | result | %>
            <li><a typeof="skos:Concept" href="<%= result.uri %>"><%= result.skos["prefLabel"] %></a>
            <% if result.skos["altLabel"] %>
              <br />Use for <em><%= [*result.skos["altLabel"]].join("</em>; <em>") %></em>
            <% end %>
            </li>
        <% end
        end %>
        </ol>
          <% if pages = paginate(@results) %>
            <div class='paginator'>
            <% if @results["http://a9.com/-/spec/opensearch/1.1/startIndex"].to_i > 0 %>
              <%= link_to '<<', url(:search, :q=>params['q'], :offset=>prev_page_offset(@results),:sort=>params['sort']) %>
            <% end %>
            <% pages.each do | page |
              if page.is_a?(Range)
                page.each do | p | %>
                  <%= link_to (p+1), url(:search, :q=>params['q'], :offset=>(p*@results["http://a9.com/-/spec/opensearch/1.1/itemsPerPage"].to_i), :sort=>params['sort']) %>
                <% end %>
              <% elsif page.is_a?(String) %>
                ...
              <% elsif page.is_a?(Fixnum) %>
                    <%= link_to (p+1), url(:search, :q=>params['q'], :offset=>(page*@results["http://a9.com/-/spec/opensearch/1.1/itemsPerPage"].to_i), :sort=>params['sort']) %>
              <% end %>
            <% end %>
            <% if @results["http://a9.com/-/spec/opensearch/1.1/startIndex"].to_i < (@results["http://a9.com/-/spec/opensearch/1.1/totalResults"].to_i - @results["http://a9.com/-/spec/opensearch/1.1/itemsPerPage"].to_i) %>
              <%= link_to '>>', url(:search, :q=>params['q'], :offset=>(@results["http://a9.com/-/spec/opensearch/1.1/startIndex"].to_i+@results["http://a9.com/-/spec/opensearch/1.1/itemsPerPage"].to_i), :sort=>params['sort']) %>
            <% end %>
            </div>
          <% end %>        
        <% end %>
    </form>
</div>


<p style="text-align: center;">
    <a href="http://validator.w3.org/check?uri=referer">
    <img src="http://www.w3.org/Icons/valid-xhtml-rdfa"
         alt="Valid XHTML + RDFa" style="border: none;"/>
    </a>
</p>

