<h1 style="text-align: center">Library of Congress Subject Headings</h1>

<div class="searchLeft">
<div class="search">
    <form action="/search" method="get">
        <div style="text-align: center">
            <input type="text" name="q" value="<%= CGI.escapeHTML(params['q']) %>" />
            <input type="submit" value="Search" />

        </div>
</div>     
  <% if @facets && !@facets.empty? %>
    <div class="facetResults">
    <% labels = {"collection"=>"Collection", "subjectType"=>"Heading Type", "subdivision"=>"Subdivision"}
    ["collection","subjectType","subdivision"].each do | facet |
    if @facets[facet] && !@facets[facet].empty? %>
      <b><%= labels[facet] -%></b>
      <ul class="facetList">
      <% @facets[facet].each do | term | %>
        <% unless params[:q].match(/#{facet}:"#{term[:term]}"/) %>
          <li><a href="<%= generate_facet_link(term[:uri]) -%>"><%= term[:term] -%></a></li>
        <% else %>
          <li><%= term[:term] -%></li>
        <% end %>
      <% end %>
      </ul>
    <% end  end %>

    </div>
  <% end %>
</div>

        <% if @results %>
          <div class="searchResults">
          <div><%= @results["http://a9.com/-/spec/opensearch/1.1/totalResults"] %> matches to your search</div>
          <ol start="<%= (@results["http://a9.com/-/spec/opensearch/1.1/startIndex"].to_i + 1) %>">

          <%
          if @results["http://purl.org/rss/1.0/items"] && @results["http://purl.org/rss/1.0/items"].rdf && @results["http://purl.org/rss/1.0/items"]["http://purl.org/rss/1.0/resource"]

            [*@results["http://purl.org/rss/1.0/items"]["http://purl.org/rss/1.0/resource"]].each do | resource | 
              result = @collection[resource]%>
            <li><a typeof="skos:Concept" href="<%= result.uri %>"><%= result.skos["prefLabel"] %></a>
            <% if result.skos["altLabel"] %>
              <br />Use for <em><%= [*result.skos["altLabel"]].join("</em>; <em>") %></em>
            <% end %>
            </li>
        <% end
        end %>
        </ol>
        </div>
          <% if pages = paginate(@results) %>
            <div class='paginator'>
            <% if @results["http://a9.com/-/spec/opensearch/1.1/startIndex"].to_i > 0 %>
              <%= link_to '<<', url(:search, :q=>params['q'], :offset=>prev_page_offset(@results),:sort=>params['sort']) %>
            <% end %>
            <% pages.each do | page |
              if page.is_a?(Range)
                page.each do | p | %>
                  <%= link_to (p+1), url(:search, :q=>params['q'], :offset=>(p*@results["http://a9.com/-/spec/opensearch/1.1/itemsPerPage"].to_i), :sort=>params['sort']) %>
                <% end %>
              <% elsif page.is_a?(String) %>
                ...
              <% elsif page.is_a?(Fixnum) %>
                    <%= link_to (p+1), url(:search, :q=>params['q'], :offset=>(page*@results["http://a9.com/-/spec/opensearch/1.1/itemsPerPage"].to_i), :sort=>params['sort']) %>
              <% end %>
            <% end %>
            <% if @results["http://a9.com/-/spec/opensearch/1.1/startIndex"].to_i < (@results["http://a9.com/-/spec/opensearch/1.1/totalResults"].to_i - @results["http://a9.com/-/spec/opensearch/1.1/itemsPerPage"].to_i) %>
              <%= link_to '>>', url(:search, :q=>params['q'], :offset=>(@results["http://a9.com/-/spec/opensearch/1.1/startIndex"].to_i+@results["http://a9.com/-/spec/opensearch/1.1/itemsPerPage"].to_i), :sort=>params['sort']) %>
            <% end %>
            </div>
          <% end %>        
        <% end %>
        
    </form>
</div>



