<h1 style="text-align: center">Library of Congress Subject Headings</h1>

<div class="search">
    <form action="/search" method="get">
        <div style="text-align: center">
            <input type="text" name="q" value="<%= params['q'] %>" />
            <input type="submit" value="Search" />

        </div>
        
        
        <% if @results %>
          <div><%= @results.total_results %> matches to your search</div>
          <ol start="<%= (@results.offset + 1) %>">
          <%
          @results.results.each do | result | %>
            <li><a typeof="skos:Concept" href="<%= result.uri %>"><%= result.pref_label %></a>
            <% if result.alt_labels %>
              <br />Use for <em><%= result.alt_labels.join("</em>; <em>") %></em>
            <% end %>
            </li>
        <% end %>
        </ol>
          <% if pages = paginate(@results) %>
            <div class='paginator'>
            <% if @results.offset > 0 %>
              <%= link_to '<<', url(:search, :q=>params['q'], :offset=>prev_page_offset(@results),:sort=>params['sort']) %>
            <% end %>
            <% pages.each do | page |
              if page.is_a?(Range)
                page.each do | p | %>
                  <%= link_to (p+1), url(:search, :q=>params['q'], :offset=>(p*@results.items_per_page), :sort=>params['sort']) %>
                <% end %>
              <% elsif page.is_a?(String) %>
                ...
              <% elsif page.is_a?(Fixnum) %>
                    <%= link_to (p+1), url(:search, :q=>params['q'], :offset=>(page*@results.items_per_page), :sort=>params['sort']) %>
              <% end %>
            <% end %>
            <% if @results.offset < (@results.total_results - @results.items_per_page) %>
              <%= link_to '>>', url(:search, :q=>params['q'], :offset=>(@results.offset+@results.items_per_page), :sort=>params['sort']) %>
            <% end %>
            </div>
          <% end %>        
        <% end %>
    </form>
</div>

<div class="description" style="margin-top: 10px">

    <p>
    <em>
    Search results are also available in RDF and JSON using content 
    negotiation:
    </em>
    </p>
    <pre>
      curl --header "Accept: application/rdf+xml" http://lcsh.info/search?q=Web
      curl --header "Accept: application/json" http://lcsh.info/search?q=Web
    </pre>

</div>

<p style="text-align: center;">
    <a href="http://validator.w3.org/check?uri=referer">
    <img src="http://www.w3.org/Icons/valid-xhtml-rdfa"
         alt="Valid XHTML + RDFa" style="border: none;"/>
    </a>
</p>

