<div class="concept" about="<%= @authority.uri %>" typeof="skos:Concept">
  <ul class="alternativeFormats">
    <% ['rdf','nt','json'].each do | type | %>
    <li><a href="<%= params[:id].sub(/\#concept/,"") %>.<%= type %>"><%= type %></a></li>
    <% end %>
  </ul>
<h1 property="skos:prefLabel"><%= @authority.skos["prefLabel"] %></h1>
<% if @authority.wgs84 and @authority.wgs84["lat"] && @authority.wgs84["long"] %>
  <div id="map"></div>
<% end %>
<% if @authority.skos["scopeNote"]
    [*@authority.skos["scopeNote"]].each do | note | %>
    <p property="skos:scopeNote">
    <%= note %>
    </p>
<% end 
end
%>
<% if @authority.skos["altLabel"] %>
    <b>Use For:</b>
    <ul class="altLabel">
        <% [*@authority.skos["altLabel"]].each do | uf | %>
            <li><span property="skos:altLabel"
            <% if uf == [*@authority.skos["altLabel"]].last %>
             class="altLabelLast"<% end %>><%= uf %></span></li>
        <% end %>
    </ul>
<% end %>
<% if @authority.skos["broader"] %>
    <b>Broader Terms:</b>
    <ul>
    <% [*@authority.skos["broader"]].each do |broader| 
      broader.describe if broader.empty_graph? %>
      <li><a rel="skos:broader" href="<%= broader.uri %>"><%= broader.skos["prefLabel"] %></a></li>
    <% end %>
    </ul>
<% end %>
<% if @authority.skos["narrower"] %>
    <b>Narrower Terms:</b>
    <ul>
   <% [*@authority.skos["narrower"]].each do | narrower | 
     narrower.describe if narrower.empty_graph?
     %>
      <li><a rel="skos:narrower" href="<%= narrower.uri %>"><%= narrower.skos["prefLabel"] %></a></li>
    <% end %>
    </ul>
<% end %>
<% if @authority.skos["related"] %>
    <b>Related Terms:</b>
    <ul>
    <% [*@authority.skos["related"]].each do | rel | %>
      rel.describe if rel.empty_graph?
      %>
      <li><a rel="skos:related" href="<%= rel.uri %>"><%= rel.skos["prefLabel"] %></a></li>
    <% end %>
    </ul>
<% end %>
<% if @authority.skos["editorialNote"] %>
    <b>Editorial Notes:</b>
    <ul>
    <% [*@authority.skos["editorialNote"]].each do | note | %>
        <li property="skos:editorialNote"><%= note %></li>
    <% end %>
    </ul>
<% end %>

<% if @authority.dcterms["source"] %>
    <b>Source<% if [*@authority.dcterms["source"]].length > 1 %>s<% end %>:</b>
    <ul>
    <% [*@authority.dcterms["source"]].each do | source | %>
        <li property="skos:editorialNote"><%= source %></li>
    <% end %>
    </ul>
<% end %>

<% if @authority.umbel && @authority.umbel["linksEntity"] %>
  <div class="realWorldObjects">
  <b>Resources represented by concept:</b>
  <ul>
  <% [*@authority.umbel["linksEntity"]].each do | rwo | %>
    <li><a property="umbel:linksEntity" href="<%= rwo.uri -%>" rel="<%= rwo.uri -%>"><%= rwo.uri -%></a></li>
  <% end %>
  </ul>
  </div>
<% end %>
    
 
    <b>Created:</b>
    <span property="dcterms:created" content="<%= @authority.dcterms["created"] -%>"><%= date_display(@authority.dcterms["created"]) %></span>
    <br />
    <br />
 
    <b>Last Modified:</b>
    <span property="dcterms:modified" content="<%= @authority.dcterms["modified"] -%>"><%= date_display(@authority.dcterms["modified"]) %></span>
    <br />
    <br />
 
    <b>Concept URI:</b>
    <a href="<%= @authority.uri %>"><%= @authority.uri %></a>
    <br />
    <br />
<% if @authority.skos["inScheme"] %>
    <b>Concept schemes:</b>
    <ul class="conceptSchemes">
    <% [*@authority.skos["inScheme"]].each do | scheme | %>
      <li property="skos:inScheme" rel="<%= scheme.uri -%>" title="<%= scheme.uri -%>"><%= scheme_labels(scheme) %></li>
    <% end %>
    </ul>
<% end %>

<% if @authority.wgs84 
  if @authority.wgs84['latitude'] && @authority.wgs84['longitude'] %>
  <b>Coordinates:</b>
  <span property="wgs84:lat"><%= @authority.wgs84['latitude'] -%></span> / <span property="wgs84:long"><%= @authority.wgs84['longitude'] -%></span>
  <br />
  <br />
<% end %>
    <% if @authority.wgs84['location'] %>
      <b>Locations:</b>
      <ul>
      <% [*@authority.wgs84['location']].each do | location | %>
        <li><a href="<%= location.uri -%>" rel="wgs84:location" resource="<%= location.uri -%>"><%= location -%></a></li>
      <% end %>
      </ul>
    <% end 
  end
  if @authority.skos['exactMatch'] 
      internal = []
      external = []
      [*@authority.skos['exactMatch']].each do | exact_match |
        if exact_match.uri =~ /^http:\/\/lcsubjects\.org\//
          internal << exact_match
        else
          external << exact_match
        end
      end
      unless external.empty? %>
        <b>Identical concepts from other vocabularies:</b>
        <ul>
        <% external.each do | exact_match | %>
          <li><a href="<%= exact_match.uri %>" rel="skos:exactMatch" resource="<%= exact_match.uri -%>"><%= exact_match.uri %></a></li>
        <% end %>
        </ul>
      <% end
      unless internal.empty? %>
        <b>Identical concepts in LCSH in different schemes:</b>
        <% internal.each do | exact_match | 
          exact_match.describe %>
          <%= exact_match['http://LCSubjects.org/type'] -%>
        <% end 
      end %>
    <% end %>    
    <% if @authority.skos['relatedMatch'] 
      internal = []
      external = []
      [*@authority.skos['relatedMatch']].each do | rel_match |
        if rel_match.uri =~ /^http:\/\/lcsubjects\.org\//
          internal << rel_match
        else
          external << rel_match
        end
      end
      unless internal.empty? %>
        <p>
        <b>This heading also appears as:</b>
        <% internal.each do | rel_match | 
          rel_match.describe %>
          <a href="<%= rel_match.uri -%>" rel="skos:relatedMatch" resource="<%= rel_match.uri -%>"><%= rel_match['http://LCSubjects.org/vocab/1#type'] -%></a>
        <% end %>
        </p>
        <% end
      unless external.empty? %>
        <b>Related concepts from other vocabularies:</b>
        <ul>
        <% external.each do | rel_match | %>
          <li><a href="<%= rel_match.uri %>" rel="skos:relatedMatch" resource="<%= rel_match.uri -%>"><%= rel_match.uri %></a></li>
        <% end %>
        </ul>
      <% end
    end %>   
    <% if @authority.skos['closeMatch'] %>
      <b>Similar concepts from other vocabularies:</b>
      <ul>
      <% [*@authority.skos['closeMatch']].each do | close_match | %>
        <li><a href="<%= close_match.uri %>"><%= close_match.uri %></a></li>
      <% end %>
      </ul>
    <% end %>
    <% if @authority.owl['sameAs'] %>
      <b>Same as:</b>
      <ul>
      <% [*@authority.owl['sameAs']].each do | same_as | %>
        <li><a href="<%= same_as.uri %>" rel="owl:sameAs" resource="<%= same_as.uri -%>"><%= same_as.uri %></a></li>
      <% end %>
      </ul>
    <% end %>

</div>

